/* Universal styling */
/*color pallat taken from https://coolors.co/2d3047-93b7be-e0ca3c-a799b7-048a81 */

:root {
  --primary: #2d3047ff;
  /*space-cadet*/
  --secondary: #93b7beff;
  /*pewter-blue */
  --tertiary: #e0ca3cff;
  /*citrine */
  --quarternary: #a799b7ff;
  /*glossy-grape*/
  --background: #048a81ff;
  /*celadon-green */
}

* {
  font-family: 'Montserrat', sans-serif;
}

html {
  background-color: var(--background);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* home page styling */

.home {
  background-color: var(--background);
}

#up {
  text-decoration: underline;
  font-size: 1.5625em;
  font-weight: 700;
}

/*logo styling*/
#woof {
  opacity: 0.6;
}

#bio {
  font-size: 1em;
  color: var(--tertiary);
  margin-left: 26.5625em;
  margin-bottom: 31.25em;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--quarternary);
  border: var(--secondary) groove 0.4375em;
  border-radius: 0.1875em;
}

#about {
  background-color: var(--quarternary);
}

#text {
  margin-left: 18.75em;
  font-size: 1em;
  font-weight: 600;
  color: var(--tertiary);
}

#texttwo {
  margin-left: 18.75em;
  margin-top: 150px;
  font-size: 1em;
  font-weight: 600;
  color: var(--tertiary);
}

#car {
  float: right;
}

/* header styling */
h1,
h2,
h4 {
  color: var(--tertiary);
  font-weight: 700;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.875em;
}

h4 {
  font-size: 1.25em;
}

/* nav styling */
.navlinks {
  color: var(--primary);
  background-color: var(--quarternary);
  align-items: center;
  font-size: 1em;
  font-weight: 600;
}

/*paw icon styling*/
#paw {
  color: var(--tertiary);
}

header {
  background-color: var(--secondary);
  border: 0.3125em groove var(--primary);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}

header h1 {
  background-color: var(--secondary);
  text-decoration: underline;
  margin-left: 40px;
}

nav {
  display: flex;
}

nav a {
  text-decoration: none;
  padding: 5px;
  border: 0.3125em groove var(--quarternary);
  border-radius: 4px;
}

nav a:hover {
  color: var(--tertiary);
}

#navheader {
  font-size: 2.5em;
  font-weight: 700;
}


/* Travel form styling */

#travelform {
  border: 0.1875em groove var(--primary);
  border-radius: 4px;
  background-color: var(--quarternary);
  color: var(--tertiary);
}

/* heading styling */
#bark {
  font-size: 1.875em;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  background-color: var(--quarternary);
  color: var(--tertiary);
}
/* from field styling */
#from {
  color: var(--tertiary);
  margin-right: 0.625em;
  font-size: 0.9375em;
  font-weight: 500;
}
/* to field styling */
#to {
  color: var(--tertiary);
  margin-right: 0.625em;
  margin-left: 0.3125em;
  font-size: 0.9375em;
  font-weight: 500;
}
/* message field styling */
#message {
  color: var(--tertiary);
  margin-right: 0.625em;
  margin-left: 0.3125em;
  font-size: 0.9375em;
  font-weight: 500;
}
/* email field styling */
#email {
  color: var(--tertiary);
  margin-right: 0.625em;
  margin-left: 0.3125em;
  font-size: 0.9375em;
  font-weight: 500;
}
/* submit button styling */
#travelsubmit {
  border: 0.1875em groove var(--primary);
  border-radius: 4px;
  background-color: var(--quarternary);
  font-size: 13.5px;
}

#travelsubmit:hover {
  color: var(--tertiary);
}
/* overall form styling */
#form {
  background-color: var(--quarternary);
}

/* Boarding page styling */

#doghotel {
  background-color: var(--quarternary);
  width: 30%;
  border: 0.1875em groove var(--primary);
  border-radius: 4px;
  float:left;
}

#board {
  color: var(--tertiary);
  font-size: 0.9375em;
  font-weight: 600;
}

#boardinglinks {
  font-size: 0.8125em;
  color: var(--primary);
}

/* roadtrips page styling */
/* overall roadtrips styling */

.roadtrip {
  background-color: var(--quarternary);
  border: 0.1875em groove var(--primary);
  border-radius: 4px;
  float: right;
}

/* h1 heading styling */
#road {
  color: var(--tertiary);
  font-size: 1em;
  font-weight: 600;
  text-decoration: underline;
  text-align: center;
}

/* link styling */
#roadlink {
  font-size: 0.8125em;
  color: var(--primary);
}

#roadlink:hover {
  color: var(--background);
}

/* h2 heading styling */
#roady {
  color: var(--tertiary);
  font-size: 0.9375em;
  font-weight: 600;
  text-align: center;
}

/* p element styling */
#puppy {
  color: var(--primary);
  font-size: 0.875em;
  font-weight: 500;
}

#air {
  color: var(--tertiary);
  font-size: 0.9375em;
  font-weight: 600;
}

#airtravel {
  color: var(--primary);
  font-size: 0.875em;
  font-weight: 500;
}

#help {
  color: var(--tertiary);
  font-size: 0.9375em;
  font-weight: 600;
}

#airlink {
  font-size: 0.8125em;
  color: var(--primary);
}

/* search bar styling */
/* overall search bar styling */
.mainsearch {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}

/* search bar heading styling */
.friendly {
  font-size: 1.25em;
  color: var(--primary);
}

.search {
  width: 25%;
}

.searchbutton {
  color: var(--primary);
}

/* footer styling */
footer {
  color: var(--tertiary);
  background-color: var(--secondary);
  font-size: 0.875em;
  font-weight: 700;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
/*GitHub link styling */
footer a {
  color: var(--tertiary);
  padding: 0.625em;
}